.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color-bg);
    transition: var(--transition);
    margin-top: 5rem;
}

.logo-image {
    width: 7rem;
    height: 7rem;
    margin:1rem;
    margin-left: 2.5rem;
    border-radius:1rem;
}

.sunrise {
    height: 2.5rem;
    width: 2.5rem;
    color: #ffd11a;
    margin-left: 0.5rem;
}

.title{
    margin-top:1rem;
    color:var(--color-primary)
}

.charity-name{
    margin-left: 1rem;
    margin-right: 1rem;
}

.contact-details-header {
 margin: 2rem;
 margin-right: 7rem;
}

.header__link {
    font-size: small;
    color:var(--color-primary);
    padding:0.25rem
}

.header__link:hover {
    border:0.1rem solid var(--color-text);
    border-radius: 0.2rem;
}

.dontate-us-header{
    margin-top: 2.75rem;
}

.dontate-us-link {
    margin-right: 10rem;
    padding: 1rem;
    font-size: larger;
    background-color: var(--color-sunrise);
    color:var(--color-white);
    border-radius: 0.35rem;
    border:0.25rem   var(--color-primary-variant)
}

.dontate-us-link:hover {
    color:var(--color-sunrise);
    background: var(--color-primary-variant);
    border:0.25rem solid var(--color-sunrise);
}