

.image_card {
    height: 25rem;
    width: 32rem;
    margin: 3rem;
    border: 0.5rem solid var(--color-primary-variant);
    border-radius:2rem

}

.slide_card {
    height: 55vh;
    width: 90%;
    margin: 3rem;
    border: 0.35rem solid var(--color-primary-variant);
    border-radius:1.5rem
}

.gallery__title{
    margin-top: 5rem;
    text-align: center;
}