

.image_card {
    height: 25rem;
    width: 32rem;
    margin: 2rem;
    border: 0.05rem solid var(--color-primary-variant);
    border-radius:.25rem

}

.slide_card {
    height: 55vh;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: 0.05rem solid var(--color-primary-variant);
    border-radius:0.25rem
}

.gallery__title{
    margin-top: 5rem;
    text-align: center;
}


 