.navbar {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background:var(--color-primary);
    position: fixed;
    width: 100%;
    top:0;
    margin-right: 50rem;
    z-index: 100; /*to avoid swiper js over lapping issue*/
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
}

.navbar__links{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    background:var(--color-primary);
    color:var(--color-white);
    position: fixed;
    width: 100%;
    top:0;
    margin-right: 50rem;
    z-index: 100; /*to avoid swiper js over lapping issue*/
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
}


.navbar__links > a{
    padding: 0.20rem;
    margin-right: 3rem;
    border-radius: 0.15em;
    font-size: small;
}

.navbar__phone {
    display: flex;
    flex-direction: row;
    color:var(--color-white);
    margin-left: 2rem;
}

.nav__anchor {
    margin-right: 3rem;
    font-size: small;
    padding: 0.25rem;
    border: 0.05rem solid var(--color-primary);
    color:var(--color-white);
    border-radius:0.15rem
}

.nav__anchor:hover{
    color:var(--color-white);
    border: 0.05rem solid var(--color-white)
}