.navbar {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    background:var(--color-text);
    position: fixed;
    width: 100%;
    top:0;
    margin-right: 50rem;
    z-index: 100; /*to avoid swiper js over lapping issue*/
}

.navbar > a{
    padding: .25rem;
    margin-right: 3rem;
    border-radius: 0.5em;
}

.navbar >a:hover {
    padding: 1rem;
    background: var(--color-bg-variant);
    color:var(--color-white)
}