.navbar {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background:var(--color-primary);
    position: fixed;
    width: 100%;
    top:0;
    margin-right: 50rem;
    z-index: 100; /*to avoid swiper js over lapping issue*/
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
}

.nav__links{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
}

.navbar__links{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    background:var(--color-primary);
    color:var(--color-white);
    position: fixed;
    width: 100%;
    top:0;
    margin-right: 50rem;
    z-index: 100; /*to avoid swiper js over lapping issue*/
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
}


.navbar__links > a{
    padding: 0.20rem;
    margin-right: 3rem;
    border-radius: 0.15em;
    font-size: smaller;
}

.navbar__phone {
    display: flex;
    flex-direction: row;
    color:var(--color-white);
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top:0.25rem;
    font-size: x-small;
     
}

.nav__anchor {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    padding: 0.25rem;
    border: 0.05rem solid var(--color-primary);
    color:var(--color-white);
    border-radius:0.5rem;
    font-size: .75rem;
}

.navbar__phone:hover { color:var(--color-white);
   }

.nav__anchor:hover{
    color:var(--color-white);
    border: 0.05rem solid var(--color-white)
}

.navbar__contact-details-header {
    display: flex;
    flex-direction: row;
    color:var(--color-white)
}


.navbar__icon {
    font-size: medium;
}